<html>
    <head>
        <title>Signup</title>
        <meta charset="UTF-8"/>
        <meat name="viewport" content="width=device-width, intial-scale=0.2"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <style>
            .container{
                width:90%;
                background-color: grey;
                margin:auto;
                border-radius: 15px;
                padding:20px 20px 0px 20px;
                background-color: #F2F2F2;
            }
            .Ag{
                margin-left: 10px;
                font-size: 18px;
                line-height: 21.78px;
                font-weight: 400;
            }
            .Ag span{
                font-size: 18px;
                line-height: 21.78px;
                font-weight: 700;
            }
            .container img{
                margin-right: 10px;
            }
            .logo{
                float: right;
            }
            .group-containers{
                width:100%;
                margin-top: 20px;
                background-color: white;
                border-radius: 15px;
                padding-top: 15px;
                text-align: center;

            }
            .group-containers table{
                width:95%;
                margin: auto;
                border-collapse: collapse;
                text-align: center;

            }
            .group-containers table th{
                font-size: 16px;
                line-height: 17px;
                letter-spacing: 2px;
                font-weight: normal;
                padding:15px 0px;
                
                
            }
            .group-containers table tr{
                
                border-bottom: 1px solid #EEF0F5;
                
            }
            .group-containers table td{
                padding:15px 0px;
            }
            .test-output img{
                width:180px;
                height:180px;
                border-radius: 5px;
            }
            
            .test-status{
                color:#FF9090;
                font-size: 17px;
                font-weight: 500;
                line-height: 17px;

            }
            .test-status img{
                width:36px;
                height:34px;
            }
            .test-content{
                font-weight: 500;
                font-size: 16px;
                line-height: 17px;
                color:#666666;
            }
            .action button{
                border: 1px solid #3366FF;
                width:78px;
                height:37px;
                border-radius: 2px;
                padding:10px, 20px, 10px, 20px;
                background-color: transparent;
                color:#3366FF;
            }
            .footer{
                width:100%;
                text-align: center;
                padding:20px 0px 10px 0px;
            }
            .icons i{
                margin:0px 10px;
            }
            .footer a{
                color:#3366FF;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <span class="Ag">Approval Request for the <span>Smart UI</span> visual regression test</span>
            <img class="logo" src="/images/LOGO.svg" />
            <div class="group-containers">
                <table>
                    <thead>
                        <tr>
                            <th>TEST OUTPUT</th>
                            <th>TEST STATUS</th>
                            <th>SCREENSHOT ID</th>
                            <th>USER</th>
                            <th>MISMATCH</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="test-output"><img  src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80"/></td>
                            <td ><div class="test-status" style="display: flex;justify-content: center; align-items: center;"><img  src="/images/Group.svg"/> Changes Found</div></td>
                            <td class="test-content">FZR2000HTKLDHUI89KL</td>
                            <td class="test-content">Eleanor Pena</td>
                            <td class="test-content">25%</td>
                            <td class="action"><button>View</button></td>
                        </tr>
                        <tr>
                            <td class="test-output"><img  src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80"/></td>
                            <td ><div class="test-status" style="display: flex;justify-content: center; align-items: center;"><img  src="/images/Group.svg"/> Changes Found</div></td>
                            <td class="test-content">FZR2000HTKLDHUI89KL</td>
                            <td class="test-content">Eleanor Pena</td>
                            <td class="test-content">25%</td>
                            <td class="action"><button>View</button></td>
                        </tr>
                        <tr>
                            <td class="test-output"><img  src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80"/></td>
                            <td ><div class="test-status" style="display: flex;justify-content: center; align-items: center;"><img  src="/images/Group.svg"/> Changes Found</div></td>
                            <td class="test-content">FZR2000HTKLDHUI89KL</td>
                            <td class="test-content">Eleanor Pena</td>
                            <td class="test-content">25%</td>
                            <td class="action"><button>View</button></td>
                        </tr>
                        <tr>
                            <td class="test-output"><img  src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80"/></td>
                            <td ><div class="test-status" style="display: flex;justify-content: center; align-items: center;"><img  src="/images/Group.svg"/> Changes Found</div></td>
                            <td class="test-content">FZR2000HTKLDHUI89KL</td>
                            <td class="test-content">Eleanor Pena</td>
                            <td class="test-content">25%</td>
                            <td class="action"><button>View</button></td>
                        </tr>
                        <tr>
                            <td class="test-output"><img  src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80"/></td>
                            <td ><div class="test-status" style="display: flex;justify-content: center; align-items: center;"><img  src="/images/Group.svg"/> Changes Found</div></td>
                            <td class="test-content">FZR2000HTKLDHUI89KL</td>
                            <td class="test-content">Eleanor Pena</td>
                            <td class="test-content">25%</td>
                            <td class="action"><button>View</button></td>
                        </tr>
                        
                    </tbody>

                </table>
            </div>
            <div class="footer">
                <p style="line-height:1px">Got Questions? Please don't hesitate to contact our 24/7</p>
                <p>support center at <a href="">support@lambdatest.com</a></p>
                <p>if you no longer wish to receive these emails, please <a href="">update your preferences here.</a></p>
                <div class="icons">
                    <span><i class=" fa fa-solid fa-user"></i><i class=" fa fa-solid fa-user"></i><i class=" fa fa-solid fa-user"></i></span>
                </div>
            </div>
        </div>
    </body>
</html>